<section class="container">
	<section class="row">

	<div class="col m4">
		<br>
		<%= link_to 'ir atrás', cargaplantillas_path, class:"btn red white-text" %>
	</div>
	<div class="col m8">
		<h1>Nueva Plantilla</h1>

		<%= render 'form' %>
	</div>

	</section>
</section>