<section class="container">
		<section class="row">
			<div class="col m12">
				<h1>Bienvenido</h1>
			</div>
			<div class="col m12">
				<div class="col m12">
				<%= link_to 'Editor de platillas', editor_root_path,  class:"col m8 offset-m2 btn red white-text" %> 
				</div>
				&nbsp;
				<div class="col m12">
				<%= link_to 'Cargador de plantillas', cargaplantillas_path ,  class:"col m8 offset-m2 btn red white-text" %> 
				</div>
			</div>

		</section>
</section>