<div ng-app="appeditor">
	<div ng-controller="global-controller">
		
		<section class="container">
			<section class="row">
				
				<div class="col m12">

					<div class="col m8">
					 <div class="collection">
				        <a href="javascript: void(0)"  ng-repeat=" plantilla in plantillas " ng-click="showDetail($event)" data-id="[[plantilla.id]]" class="collection-item">id: [[plantilla.id]]  titulo: [[plantilla.titulo]]</a>
				     </div>
				    </div>

				    <div class="col m4">
				    	<br>
						
						<a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">list</i></a>

						<a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">attach_file</i></a>

				    </div>

				</div>
				
			</section>
		</section>

		<section class="container" >
			<section class="row">

				<div class="col m8 ">
					 <span>Cantidad Placeholder: [[placeholders.length]]</span> </span>
					<textarea ng-model="vista" ng-change="changed()" class="grey lighten-4" name="" style="height: 80vh"></textarea>

					<br>

					<div id="pdf" class="col m12 grey lighten-4 " ng-bind-html="preview | escapeHtml" style="height: 80vh">
						
					</div>

				</div>

				<div class="col m4">

					<div class="col m12">
						<h5>Lista de Placeholders</h5>
						<div class="diver"></div>
					</div>

					<div class="col m12" style="height: 200px; overflow-y:auto;">
						
						<div class="col m12">
							<div class="input-field" ng-repeat=" holder in placeholders">
				          		<input ng-model="rplace[$index]" ng-change="rlplchanged()" id="[[holder]]" type="text">
				          		<label for="[[holder]]">[[holder]]</label>
				        	</div>
						</div>

					</div>

					<div class="col m12 ">
						&nbsp;
						<a class="col m12 waves-effect waves-light btn" ng-click="salvar($event)"><i class="material-icons left">save</i>Salvar</a>
					</div>
					&nbsp;
					<div class="col m12 ">
						<a class="col m12 waves-effect waves-light btn red"  ng-click="pdf($event)"><i class="material-icons left">picture_as_pdf</i>Exportar a Pdf</a>
					</div>

				</div>
			</section>
		</section>

	</div>
</div>